{
  "openapi": "3.0.1",
  "info": {
    "title": "LH Public API",
    "description": "",
    "license": {
      "name": "LH",
      "url": "https://developer.lufthansa.com"
    },
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.lufthansa.com/v1"
    }
  ],
  "paths": {
    "/operations/schedules/{origin}/{destination}/{fromDateTime}": {
      "get": {
        "tags": [
          "Operations"
        ],
        "summary": "Flight Schedules",
        "description": "Scheduled flights between given airports on a given date.",
        "operationId": "OperationsSchedulesFromDateTimeByOriginAndDestinationGet",
        "parameters": [
          {
            "name": "origin",
            "in": "path",
            "description": "Departure airport. 3-letter IATA airport code (e.g. 'ZRH')",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "destination",
            "in": "path",
            "description": "Destination airport. 3-letter IATA airport code (e.g. 'FRA')",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fromDateTime",
            "in": "path",
            "description": "Local departure date and optionally departure time (YYYY-MM-DD or YYYY-MM-DDTHH:mm). When not provided, time is assumed to be 00:01",
            "required": true,
            "schema": {
              "type": "string",
              "example": "2019-06-11T19:23"
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "description": "http header: application/json or application/xml (Acceptable values are: \"application/json\", \"application/xml\")",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "directFlights",
            "in": "query",
            "description": "Show only direct flights (false=0, true=1). Default is false",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of records returned per request. Defaults to 20, maximum is 100 (if a value bigger than 100 is given, 100 will be taken)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of records skipped. Defaults to 0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "ScheduleResource": {
                    "Schedule": [
                      {
                        "TotalJourney": {
                          "Duration": "PT1H5M"
                        },
                        "Flight": {
                          "Departure": {
                            "AirportCode": "PAD",
                            "ScheduledTimeLocal": {
                              "DateTime": "2018-02-24T06:05"
                            }
                          },
                          "Arrival": {
                            "AirportCode": "MUC",
                            "ScheduledTimeLocal": {
                              "DateTime": "2018-02-24T07:10"
                            },
                            "Terminal": {
                              "Name": 2
                            }
                          },
                          "MarketingCarrier": {
                            "AirlineID": "LH",
                            "FlightNumber": 2183
                          },
                          "OperatingCarrier": {
                            "AirlineID": "CL"
                          },
                          "Equipment": {
                            "AircraftCode": "CR9"
                          },
                          "Details": {
                            "Stops": {
                              "StopQuantity": 0
                            },
                            "DaysOfOperation": 123456,
                            "DatePeriod": {
                              "Effective": "2018-01-29T00:00:00.000Z",
                              "Expiration": "2018-03-24T00:00:00.000Z"
                            }
                          }
                        }
                      },
                      {
                        "TotalJourney": {
                          "Duration": "PT1H5M"
                        },
                        "Flight": {
                          "Departure": {
                            "AirportCode": "PAD",
                            "ScheduledTimeLocal": {
                              "DateTime": "2018-02-24T09:30"
                            }
                          },
                          "Arrival": {
                            "AirportCode": "MUC",
                            "ScheduledTimeLocal": {
                              "DateTime": "2018-02-24T10:35"
                            },
                            "Terminal": {
                              "Name": 2
                            }
                          },
                          "MarketingCarrier": {
                            "AirlineID": "LH",
                            "FlightNumber": 2177
                          },
                          "OperatingCarrier": {
                            "AirlineID": "CL"
                          },
                          "Equipment": {
                            "AircraftCode": "CR9"
                          },
                          "Details": {
                            "Stops": {
                              "StopQuantity": 0
                            },
                            "DaysOfOperation": 1234567,
                            "DatePeriod": {
                              "Effective": "2018-01-28T00:00:00.000Z",
                              "Expiration": "2018-03-24T00:00:00.000Z"
                            }
                          }
                        }
                      },
                      {
                        "TotalJourney": {
                          "Duration": "PT1H5M"
                        },
                        "Flight": {
                          "Departure": {
                            "AirportCode": "PAD",
                            "ScheduledTimeLocal": {
                              "DateTime": "2018-02-24T19:55"
                            }
                          },
                          "Arrival": {
                            "AirportCode": "MUC",
                            "ScheduledTimeLocal": {
                              "DateTime": "2018-02-24T21:00"
                            },
                            "Terminal": {
                              "Name": 2
                            }
                          },
                          "MarketingCarrier": {
                            "AirlineID": "LH",
                            "FlightNumber": 2181
                          },
                          "OperatingCarrier": {
                            "AirlineID": "CL"
                          },
                          "Equipment": {
                            "AircraftCode": "CR9"
                          },
                          "Details": {
                            "Stops": {
                              "StopQuantity": 0
                            },
                            "DaysOfOperation": 124567,
                            "DatePeriod": {
                              "Effective": "2018-02-16T00:00:00.000Z",
                              "Expiration": "2018-03-24T00:00:00.000Z"
                            }
                          }
                        }
                      }
                    ],
                    "Meta": {
                      "@Version": "1.0.0",
                      "Link": [
                        {
                          "@Href": "https://api.lufthansa.com/v1/operations/schedules/PAD/MUC/2018-02-24?directFlights=0",
                          "@Rel": "self"
                        },
                        {
                          "@Href": "https://api.lufthansa.com/v1/operations/schedules/PAD/MUC/2018-02-23?directFlights=0&offset=0&limit=20",
                          "@Rel": "previousRange"
                        },
                        {
                          "@Href": "https://api.lufthansa.com/v1/operations/schedules/PAD/MUC/2018-02-24?directFlights=0&offset=20&limit=20",
                          "@Rel": "next"
                        },
                        {
                          "@Href": "https://api.lufthansa.com/v1/operations/schedules/PAD/MUC/2018-02-28T20:15?directFlights=0&offset=0&limit=20",
                          "@Rel": "nextRange"
                        },
                        {
                          "@Href": "https://api.lufthansa.com/v1/references/airports/{airportCode}",
                          "@Rel": "related"
                        },
                        {
                          "@Href": "https://api.lufthansa.com/v1/references/aircraft/{aircraftCode}",
                          "@Rel": "related"
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "auth": []
          }
        ],
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "auth": {
        "type": "oauth2",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://api.lufthansa.com/v1/oauth/token",
            "tokenUrl": "https://api.lufthansa.com/v1/oauth/token",
            "scopes": {
              "read:LH Open API": "read access"
            }
          }
        }
      }
    }
  }
}